---
import Title from "../components/Title.astro"
import Footer from "../components/footer.astro"
import img1 from "../assets/ComicPages/Other/background.webp"
import"../styles/global.css"
---
<div
  class="about-page"
  style={`background-image: url('${img1.src}');`}
>
  <div class="blur-box">
    <h1 class="title">About Me - Eduardo Antonio</h1>
    <h2 class="caption">Comic book art, character designs, and illustrations</h2>
    <p>
Hi! My name is Eduardo, I am a college student working on my mechanical engineering degree! I grew up in NYC, and am currently studying at Cornell University in Ithaca, NY.
</p><p>
I started drawing in middle school after a friend lent me a few comic books, and I fell in love with the medium. Since then, I worked art fundamentals in order to be able to tell cool, clear stories with flashy and hopefully appealing art!
</p><p>
I mainly draw digitally, which allows me to work quickly, jumping from thumbnails and sketch to inks and line art. A lot of my personal work is in the realm of science fiction, however I also have experience drawing super heroes and fantasy.
</p><p>
I have a personal comic book project I am working on which makes up a lot of this portfolio. I have also spent a significant amount of time at my college working on indie game development as an artist, so I have experience with working on projects from start to finish, from mood boarding, to concept art and idea generation, to final assets and products.
    </p>
  </div>
</div>
<Footer />

<style>
  @import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
  .about-page {
    width: 100%;
    height: 100vh;
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
  
    align-items: center;
    
    overflow-x: hidden;
 }

  .blur-box {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px) contrast(70%);
    -webkit-backdrop-filter: blur(12px);
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    color: rgb(39, 5, 36);
    max-width: 800px;
    width: 35vw;
    max-width: 60vw;
    height: fit-content;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Raleway', sans-serif;
  }

  .caption {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    font-style: italic;
  }

  p {
    font-family: 'Jura', sans-serif;
    margin-bottom: 1rem;
    line-height: 1.6;
  }
</style>