---
import Title from "../components/Title.astro"
import Footer from "../components/footer.astro"
import ContactForm from "../components/ContactForm.astro"
import BaseLayout from "../layouts/baseLayout.astro"
---
<BaseLayout>
  <main class="content">
    <ContactForm />
  </main>
</BaseLayout>

<style>
.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-height: 110vh;
}
main{
  flex: 1;
}
</style>