---
import SidebarTitles from "./SidebarTitles.astro";
import Socials from "./Socials.astro";
import BurgerIcon from "../assets/burger.svg"
---

<button id="hamburgerBtn" class="hamburger" aria-label="Toggle menu">
    <BurgerIcon class = "icon"/>
</button>

<aside class="mobile-sidebar" id="mobileSidebar">
  <SidebarTitles />
  <Socials />
</aside>

<style>
  .hamburger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    z-index: 1000;
    background: none;
    border: none;
    color: rgb(14, 9, 9);
    cursor: pointer;
  }
  .icon {
    width: 2.5rem;
    height: 2.5rem;
    display: block;
  }

  .icon svg {
    width: 100%;
    height: 100%;

  }

  .mobile-sidebar {
    display:flex;
    position: fixed;
    top: 0;
    left: -100%;
    width: 70vw;
    height: 100vh;
    background-color: #39124b;
    padding: 1rem;
    z-index: 999;
    overflow-y: auto;
    transition: left 0.3s ease;
    flex-direction: column;
    gap: 4rem;

  }

  .mobile-sidebar.open {
    left: 0;
  }

  @media (min-width: 768px) {
    .hamburger {
      display: none;
    }

    .mobile-sidebar {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("hamburgerBtn");
    const sidebar = document.getElementById("mobileSidebar");

    if (btn && sidebar) {
      btn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
      });
    }
  });
</script>


